/* .payroll-details{
    display: flex;
    float: right;
    margin: 10px;
} */
.react-datepicker__close-icon {
    right: -25px;
}
.react-datepicker__portal{
    top: -70px;
    left: -40px;
    overflow: hidden;
}
.adjustments-modal{
    height: 50vh;
    overflow-y: scroll;
}
.adjustments-modal::-webkit-scrollbar-thumb {
    /* background: linear-gradient(transparent, #343a40); */
    background-color: rgba(35, 49, 86, 0.8);
    border-radius: 10px;
    border: 2px solid transparent;
}

.adjustments-modal::-webkit-scrollbar {
    -webkit-appearance: none;
}

.adjustments-modal::-webkit-scrollbar:vertical {
    width: 6px;
}

.adjustments-modal::-webkit-scrollbar:horizontal {
    height: 10px;
}

.adjustments-modal::-webkit-scrollbar-thumb {
    /* background: linear-gradient(transparent, #343a40); */
    background-color: rgba(35, 49, 86, 0.8);
    border-radius: 10px;
    border: 2px solid transparent;
}

.adjustments-modal::-webkit-scrollbar-track {
    border-radius: 10px;
}
.table-and-details-container{
    display: flex;
}
.payroll-details-container{
    height: 86vh;
    padding: 20px;
    margin-left: -30px;
    margin-right: 10px;
    margin-top: -20px;

    border-color: #edeae9;
    border-style: solid;
    border-width: 1px;
    background-color: #f9f8f8;
    box-sizing: border-box;
    min-width: 250px;
}
.payroll-detail{
    margin-top: 30px;
}
.adjustments-employee-details{
    display: flex;
    justify-content: space-between;
    /* margin-top: -30px; */
}
/* .adjustments-detail{
    margin-right: 30px;
} */