.downloadWrapper {
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.img {
  /* border: 3px solid black;
  background-color: red; */
}
.downloadbtnwrapper {
  /* background-color: blue;
  border: 3px solid black; */
  padding: 3rem;
  margin-left: 0.5em;
}
.downloadbtnwrapper h1 {
  font-weight: bold;
}
.windows {
  border-color: black !important;
  background-color: black !important;
  color: white !important;
  margin-right: 2rem !important;
}
.ios {
  border-color: black !important;
  background-color: black !important;
  color: white !important;
}
