.search-bar-container{
    display: block;
}
.searchInputs {
    display: flex;
    width: 100%;
}

.search-bar-container input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    /* padding: 15px; */
    height: 30px;
    width: 100%;
    border-bottom: 2px solid gray;
}

.searchIcon {
    height: 60px;
    width: 50px;
    display: grid;
    place-items: center;
    display: flex;
}

input:focus {
    outline: none;
}
/* .search-icon-container svg {
    font-size: 35px;
} */

.dataResult {
    margin-top: 5px;
    width: 50%;
    height: 150px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow-y: hidden;
}
.dataResult:hover{
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar-thumb {
    background-color: rgba(35, 49, 86, 0.8);
    border-radius: 10px;
    border: 2px solid transparent;
}

.dataResult::-webkit-scrollbar {
    -webkit-appearance: none;
}

.dataResult::-webkit-scrollbar:vertical {
    width: 6px;
}

.dataResult::-webkit-scrollbar:horizontal {
    height: 10px;
}

/* .dataResult::-webkit-scrollbar-thumb {
    background-color: rgba(35, 49, 86, 0.8);
    border-radius: 10px;
    border: 2px solid transparent;
} */

.dataResult::-webkit-scrollbar-track {
    border-radius: 10px;
}

#clearBtn {
    cursor: pointer;
}
.searchbar-one-line-container{
    display: flex;
}