.addMeetButtonContainer{
	display: flex;
	justify-content: center;
	align-items: center;
}
.addMeetButton{
	width: 150px;
    height: 45px;
    margin: 15px;
    border: none;
    background-color: #e1c5ff;
    color: black;
    border-radius: 8px;
    font-size: 20px;
}
.addMeetButton:hover{
    background-color: #8248de;
    cursor: pointer;
}
.selectedEmployeesContainer{ 
    color: white;
    /* padding: 10px;   */
    display: flex;
    flex-wrap: wrap;
}
.selectedEmployees{
    /* background-color: #bf9afa;  */
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 10px;
    width: fit-content;
    margin-Right: 15px;
    margin: 10px;
    padding: 5px;
    fill: #e1c5ff !important;
}
.remove-icon{
    fill: white !important;
}
.remove-icon:hover{
    fill: gray !important;
    /* border: 3px solid #8248de; */
    cursor: pointer;
}
.selected-employees-alert {
    margin-top: 10px;
    width: fit-content;
    opacity: 0.5;
    height: 0.6em;
    color: #494a54 !important;
    background-color: #e4e5e8 !important;
    border-color: #d7d8dd !important;
  }
  .selected-employees-alert p{
    position: relative;
    top: -12px;
  }
  .selected-employees-alert button{
    padding: 8px 1rem !important;
    color: #000 !important;
  }