.video-call-container-container {
	display: grid;
	grid-template-columns: 5fr 1fr;
	background-color: black;
	height: fit-content;
}

.myId {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
	height: 60vh;
}

.call-button {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* justify-content: center;
	align-content: center; */
	/* margin-top: 10rem;
	margin-left: 10rem; */
}

.caller {
	position: absolute;
	top: 5%;
	left: 30%;
	text-align: center;
	background-color: #1C1E20;
	border-radius: 20px;
}
.caller h1{
	color: #fff;
}
.MuiButton-containedPrimary{
	margin-right: 10px !important;
}
.video{
	/* text-align: center; */
	margin-left: 10%;
	margin-top: 3%;
	width: fit-content;
}
.video h3{
	/* color: black; */
	/* background-color: #c9d6ff; */
	background-color: #1C1E20;
    /* display: flex; */
    /* width: fit-content; */
    font-size: 18px;
    color: #F5F5F5;
    margin-left: 8px;
	/* width: 54%; */
	text-align: center;
	padding: 8px;
	/* margin-bottom: -8px; */
}
.expand{
	position: absolute;
	z-index: 20;
}
.expand-icon i{
	font-size: 40px;
	color: #fff;
	opacity: 0.5;
}
.expand-icon i:hover{
	font-size: 50px;
	color: #fff;
	opacity: 1;
	cursor: pointer;
}
.expand-btm-area {
	margin-top: 150px;
	margin-left: 180px;
	z-index: 30;
}

/* .own-video{
	margin-left: 10%;
	margin-top: 3%;
	background-color: aqua;
	width: 250px;
}
.own-video video{
	width: 250px;
}
.own-video h3{
	background-color: #1C1E20;
    font-size: 13px;
    color: #F5F5F5;
    margin-left: 8px;
	text-align: center;
	padding: 6px;
} */