.videocallcontrols{
    display: flex;
    justify-content: center;
    /* background-color: #1C1E20; */
    padding: 8px;
}
.main__mute_button i,.main__video_button i,.end-call i,.main__controls__button i, .main__video_button span, .main__mute_button span, .end-call span, .main__controls__button span{
    color: #F5F5F5;
    background-color: #00aef1;
    margin: 10px;
    padding: 15px;
    border-radius: 50%;
    font-size: large;
}
.end-call i{
    background-color: red;
}
.stop:hover, .mute:hover, .end-call:hover{
    background-color: #343434;
    border-radius: 5px;
}
.end-call i{
    transform: rotate(135deg);
}